.inputButton {
    background-color: #30618C;
    color: white !important;
    display: -webkit-flex;
    min-width: 100%;
    padding: 8px;
    height: 40px;
    border-radius: 16px;
    justify-content: center;
    cursor: pointer;
}